@media (max-width: 1144px){
  .carusel{
    &__big-item__inner{
      max-width: 759px;
    }
    &__big-item__imgbox{
      width: 188px;
      height: 188px;
    }
    &__big-item__content{
      width: 65%;
    } 
  }




  .footer{
    &__item{
    margin-right: 80px;
    }
  }
  
}

@media (max-width: 992px){
  .footer{
    &__item{
    margin-right: 40px;
    }
    &__social{
      margin-right: 0;
    }
  }
}

@media (max-width: 768px) {
  .header{
    .menu__btn{
      display: inline-block;
    }
  }
  .nav{
    position: absolute;
    top: 110px;
    width: 100%;
    background-color: #fff;
    transition: all .5s;
    transform: translateY(-200%);
    &__list{
      display: block;
    }
    &__item{
      width: 100%;
      text-align: left;
      border-bottom: 1px solid #fff ;
    }
    &__item + .nav__item{
      border-left: none;
    }
    &__link{
      padding: 7px 20px;
      background-color: #f4f5f7;
    }
  }
  .nav--active{
    transform: translateY(0);
  }

  .main{
    padding: 0 !important;
  }

  .buttons{
    &__inner{
      padding: 0;
    }

    .btn{
      margin-bottom: 20px;  
    }
  }

  .footer{
    &__inner{
      flex-wrap: wrap-reverse;
    }
    &__item{
    margin-right: 40px;
    }
    &__shop{
      margin-right: 84px;
    }
    &__about{
      margin-right: 108px;
    }
    &__social{
      margin-right: 0;
      flex-grow: 1;
      margin: 0 auto 45px;
      max-width: 100%;
      width: 100%;
      text-align: center;
    }
    &__list{
      justify-content: center;
    }
  }
}

@media (max-width: 760px){
  .header{
    &__logo{
      width: 172px;
      height: 43px;
    }
    .btn__search{
      display: inline-block;
    }
    &__top-form{
      position: absolute;
      justify-content: center;
      top: 75px;
      transition: all .5s;
      transform: translateY(-500%);
      max-width: 100%;
      width: 95%;
    }

    &__top-form--active{
      transform: translateY(0);
    }

    &__top-input{
       max-width: 65%;
        padding: 12px; 
     }
    
  }
  .buttons{
    &__inner{
      flex-wrap: wrap;
    }
  }
  .carusel{
    &__inner{
      padding: 0;
    }
    &__big-item{
      height: auto;
    }
    &__big-item__inner{
      height: auto;
      padding: 10px 0;
    }
  }
  .footer{
    &__item{
      margin: 0;
      max-width: 100%;
      width: 100%;
    }
    &__item-title{
      border-bottom: 1px solid #fff;
      margin-bottom: 13px;
      padding-bottom: 13px;
    }
    ul .footer__list-item{
      border-bottom: 1px solid #fff;
      margin-bottom: 13px;
      padding-bottom: 13px;
    }
  }
}

@media (max-width: 576px){
  .inputs{
    &__inner{
      flex-direction: column;
    }
    .item{
      margin-bottom: 40px;
    }
  }
  .rating{
    &__show{
      margin: 0 0 20px;
    }
    &-check{
      margin: 0;
    }
  }
}

@media (max-width: 440px) {

   .header{
     &__top-input{
       max-width: 65%;
     }
   } 
  .buttons{
    margin-bottom: 15px;
    &__title{
      margin-left: 23px;
      margin-bottom: 18px;
    }
    .btn + .btn{
      margin-left: 0;
    }
    .btn{
      margin-right: 20px;
    }
  }

  .inputs{
    margin-bottom: 8px;
    &__title{
      margin-left: 22px;
      margin-bottom: 17px;
    }
    .item{
      margin-bottom: 25px;
    }
    .checkbox-form__label{
      padding-left: 38px;
    }
    .radio-form__label{
      padding-left: 37px;
    }
  }

  .rating{
    margin-bottom: 32px;
    margin-left: 0px;
    &__title{
      margin-left: 23px;
      margin-bottom: 17px;
    }
    &__show{
      margin: 0 0 10px;
    }
  }

  .carusel{
    margin-bottom: 15px;
    &__title{
      margin-left: 27px;
    }
    &__big-item__inner{
      display: block;
    }
    &__big-item__imgbox{
      margin: 0 auto;
    }
    &__big-item__content{
      width: 100%;
      padding: 0 15px;
    }
    &__big-item__text{
      max-width: 100%;
      margin: 0;
    }
    &__thumb{
      margin: 6px auto 0;
    }
  }
  .footer{
    &__more-title,
    &__about-title,
    &__shop-title{
      position: relative;
      &::before{
        content: '';
        position: absolute;
        background-image: url('../images/arrow-down.svg');
        width: 15px;
        height: 17px;
        right: 0;
        top: 0;
      }
    }
    &__more-title--active::before,
    &__about-title--active::before,
    &__shop-title--active::before{
      background-image: url('../images/arrow-up.svg');
    }
  }
}