%openSans-400 {
  font-family: 'OpenSans-Regular';
  font-weight: 400;
}

%roboto-400 {
  font-family: 'Roboto-Regular';
  font-weight: 400;
}

%roboto-700 {
  font-family: 'Roboto-Bold';
  font-weight: 700;
}

%MyriadPro-400 {
  font-family: 'MyriadPro-Regular';
  font-weight: 400;
}

%montserrat-400 {
  font-family: 'Montserrat-Regular';
  font-weight: 400;
}

%checkbox-hiden {
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  position: absolute;
}


