@import 'vars';
@import 'fonts';
@import 'reset';
@import 'libs';
@import 'global';

.header {
  background-color: #fff;
  &__top-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 0;
  }

  .menu__btn{
    display: none;
    background-color: transparent;
    border: none;
    cursor: pointer;
    background-image: url('../images/menu.svg');
    width: 19px;
    height: 19px;
    background-position: center;
    background-repeat: no-repeat;
  }

  .menu__btn--active{
    background-image: url('../images/close.svg');
  }

  .btn__search{
    background-color: transparent;
    border: none;
    cursor: pointer;
    background-image: url('../images/search__btn.svg');
    width: 19px;
    height: 19px;
    background-position: center;
    background-repeat: no-repeat;
    display: none;
  }

  .btn__search--active {
    background-image: url('../images/close.svg');
  }

  &__top-form {
    display: flex;
    max-width: 388px;
    width: 100%;
  }

  &__top-input {
    max-width: 100%;
    width: 100%;
    height: 35px;
    padding: 12px;
    border: 1px solid #a1a1a1;
    border-radius: 2px;
    font-size: 15px;
    line-height: 1.2;
    color: #5e5d5c;
    @extend %openSans-400;

    &::placeholder {
      font-size: 15px;
      line-height: 1.2;
      color: #5e5d5c;
      @extend %openSans-400;
    }
  }

  &__top-btn {
    
    
    width: 75px;
    height: 34px;
    border-radius: 2px;
    background-color: #0049b0;
    border: none;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    img {
      width: 19px;
      height: 19px;
    }
  }

  &__logo {
    padding-left: 10px;
  }
}

.nav {
  background-color: #f4f5f7;
  margin-bottom: 85px;

  &__list {
    display: flex;

  }

  &__item {
    width: 165px;
    text-align: center;

  }

  &__item+.nav__item {
    border-left: 1px solid #eeeeee;
  }

  &__link {
    font-size: 14px;
    line-height: 30px;
    text-transform: uppercase;
    color: #202020;
    padding: 14px 0 13px 0;
    display: block;
    transition: all .5s;
    @extend %roboto-700;

    &:hover {
      background-color: #eaecf0;
      color: #0049b0;
    }
  }

  &__link--contact {
    padding: 14px 10px 13px 36px;
  }
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 99;
}

.sticky + .main {
  padding-top: 160px;
}

.buttons {
  margin-bottom: 85px;

  &__title {
    text-align: center;
    font-size: 36px;
    line-height: 60px;
    margin-bottom: 27px;
    color: #303030;
    @extend %roboto-400;
  }

  &__inner {
    max-width: 757px;
    margin: 0 auto;
    padding: 0 19px;
    display: flex;
    
    
  }

  .btn {
    border: none;
    display: block;
    font-size: 14px;
    line-height: 1.2;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    padding: 14px 19px;
    color: #fff;
    @extend %montserrat-400;

  }

  .btn + .btn{
    margin-left: 20px;
  }  

  .btn-1 {
    background-color: #0049b0;
    padding: 14px 19px;
    width: 109px;
  }

  .btn-2 {
    background-color: #fff;
    color: #0049b0;
    border: 1px solid #0049b0;
    padding: 13px 19px;
    width: 109px;
  }

  .btn-3 {
    background-color: #34bf49;
    padding: 13px 18px;
  }

  .btn-4 {
    background-color: #6dcff6;
    padding: 13px 15px;
  }

  .btn-5 {
    background-color: #f49a9e;
    padding: 13px 22px;
  }

  .btn-6 {
    background-color: #ed1c24;
  }
}

.inputs {
  margin-bottom: 71px;

  &__title {
    font-size: 36px;
    line-height: 60px;
    color: #303030;
    text-align: center;
    margin-bottom: 33px;
    @extend %roboto-400;
  }

  &__inner {
    max-width: 472px;
    display: flex;
    margin: 0 auto;
  }

  // .item+.item {
  //   margin-left: 20px;
  // }

  .checkbox-form {
    margin-right: 27px;

    &__label {
      padding-left: 28px;
      display: block;
      font-size: 15px;
      font-weight: 400;
      color: #5e5d5c;
      position: relative;
      margin-bottom: 10px;
      @extend %openSans-400;
    }

    &__input {
      @extend %checkbox-hiden;

      &:checked+.checkbox-form__check {
        background-image: url('../images/check.svg');
        background-repeat: no-repeat;
        background-position: center;
        border: 1px solid #31a5e7;
      }
    }

    &__check {
      position: absolute;
      left: 0;
      top: 2px;
      width: 16px;
      height: 16px;
      border: 1px solid #464646;
    }
  }

  .radio-form {
    margin-right: 30px;

    &__label {
      padding-left: 31px;
      display: block;
      font-size: 15px;
      color: #5e5d5c;
      position: relative;
      margin-bottom: 10px;
      @extend %openSans-400;
    }

    &__input {
      @extend %checkbox-hiden;

      &:checked+.radio-form__check {
        background-image: url('../images/point.svg');
        background-repeat: no-repeat;
        background-position: center;
        border: 1px solid #31a5e7;
      }
    }

    &__check {
      position: absolute;
      left: 0;
      top: 2px;
      width: 16px;
      height: 16px;
      border: 1px solid #555555;
      border-radius: 50%;
    }
  }

  .switcher__form {
    .checkbox-ios {
      display: block;
      position: relative;
      font-size: 15px;
      color: #5e5d5c;
      position: relative;
      margin-bottom: 8px;
      @extend %openSans-400;
    }

    .checkbox-ios .checkbox-ios-switch {
      position: relative;
      display: inline-block;
      width: 47px;
      height: 20px;
      border-radius: 10px;
      vertical-align: top;
      background: #f49a9e;
      transition: .2s;
      margin-right: 15px;
    }

    .checkbox-ios .checkbox-ios-switch:before {
      content: '';
      position: absolute;
      top: 2px;
      left: 3px;
      display: inline-block;
      width: 16px;
      height: 16px;
      border-radius: 50%;
      background: white;
      transition: .15s;
    }

    .checkbox-ios input[type=checkbox] {
      @extend %checkbox-hiden;
    }

    .checkbox-ios input[type=checkbox]:checked+.checkbox-ios-switch {
      background: #34bf49;
      ;
    }

    .checkbox-ios input[type=checkbox]:checked+.checkbox-ios-switch:before {
      transform: translateX(25px);
    }

    // /* Hover */
    // .checkbox-ios input[type="checkbox"]:not(:disabled)+.checkbox-ios-switch {
    //   cursor: pointer;
    //   border-color: rgba(0, 0, 0, .3);
    // }
  }
}

.rating {
  margin-bottom: 84px;
  
  &__title {
    font-size: 36px;
    line-height: 60px;
    color: #303030;
    text-align: center;
    margin-bottom: 23px;
    @extend %roboto-400;
  }

  &__show {
    display: flex;
    align-items: flex-end;
    font-size: 18px;
    line-height: 1.2;
    letter-spacing: 3px;
    max-width: 207px;
    margin: 0 auto 20px;
  }

  &__body {
    position: relative;

    &::before {
      content: "\e9d7 \e9d7 \e9d7 \e9d7 \e9d7";
      font-family: 'icomoon' !important;
      color: #e7ab65;
      display: block;
    }
  }

  &__active {
    position: absolute;
    // width: 80%;
    height: 100%;
    top: 0;
    left: 0;
    overflow: hidden;

    &::before {
      content: "\e9d9 \e9d9 \e9d9 \e9d9 \e9d9";
      font-family: 'icomoon' !important;
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      color: #e7ab65;
    }
  }

  &__items {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
  }

  &__item {
    // flex: 0 0 20%;
    // height: 100%;
    // opacity: 0;
    @extend %checkbox-hiden;
  }

  &__text {
    font-size: 15px;
    line-height: 1.2;
    color: #5e5d5c;
    letter-spacing: 0px;
    margin-left: 16px;
    @extend %openSans-400;
  }
  &-check{
    max-width: 208px;
    margin: 0 auto;
  }

  &-check__star {
    position: relative;
    font-size: 18px;
    line-height: 1.2;
    letter-spacing: 3px;
    display: inline-block;

    &::before {
      content: "\e9d7 \e9d7 \e9d7 \e9d7 \e9d7";
      font-family: 'icomoon' !important;
      display: block;
      color: #e7ab65;
    }
  }

  &-check__items {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: row-reverse;
    overflow: hidden;
  }

  &-check__item {
    @extend %checkbox-hiden;

    &:checked,
    &:checked~.rating-check__label::before{
      color: #e7ab65;
      content: "\e9d9";
    }
  }

  &-check__label {
    flex: 0 0 20%;
    height: 100%;
    cursor: pointer;

    &::before {
      font-family: 'icomoon' !important;
      display: block;
      transition: all .3s;
    }

    

    &:hover,
    &:hover~.rating-check__label,
    &:checked~.rating-check__label:hover,
    &:hover~.rating-check__label::before {
      color: #e7ab65;
      content: "\e9d9";
    }
    &:hover.rating-check__label::before{
      color: #e7ab65;
      content: "\e9d9";
    }
  }
  &-check__text{
    display: inline-block;  
    font-size: 15px;
    line-height: 1.2;
    color: #5e5d5c;
    margin-left: 12px;
    @extend %openSans-400;
  }
}

.carusel{
  margin-bottom: 107px;
  &__title{
    font-size: 36px;
    line-height: 60px;
    color: #303030;
    text-align: center;
    margin-bottom: 23px;
    @extend %roboto-400;
  }

  &__big{
    
  }

  &__inner{
    max-width: 880px;
    padding: 0 60px;
    margin: 0 auto;
  }

  &__big-item{
    height: 270px;
    padding: 15px 0;
  }

  &__big-item__inner{
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 880px;
    height: 232px;
    border: 1px solid #eeeeee;
  }

  &__big-item__imgbox{
    width: 270px;
    height: 270px;
    border-radius: 50%;
  }

  &__big-item__img{
    border-radius: 50%;
    
  }

  &__big-item__content{
    width: 50%;
    height: 100%;
    border-radius: 50%;
    padding-left: 64px;
  }

  &__big-item__text{
    font-size: 16px;
    line-height: 24px;
    color: #808080;
    max-width: 327px;
    margin-top: 39px;
    @extend %MyriadPro-400;
  }

  &__big-item__title{
    font-size: 20px;
    line-height: 30px;
    text-transform: uppercase;
    color: #303030;
    margin-top: 13px;
    @extend %MyriadPro-400;
  }

  &__big-item__date{
    font-size: 16px;
    line-height: 24px;
    color: #303030;
    margin-top: 8px;
    @extend %MyriadPro-400;
  }

  &__thumb{
    max-width: 380px;
    margin: 23px auto 0;
  }

  &__thumb-img{
    border: 2px solid rgba($color: #0049b0, $alpha: 0);
  }


  .slick-current{
    .carusel__thumb-img {
      border: 2px solid rgba($color: #0049b0, $alpha: 1);
      border-radius: 50%;
    }
  }

  .slick-arrow {
    width: 42px;
    height: 42px;
    border: 1px solid #dadada;
    top:37%;
    position: absolute;
    z-index: 99;
    background-color: transparent;
    cursor: pointer;
    transition: all .5s;
    svg{
      fill: #5e5d5c;
    }
    
    &:hover{
      border: 1px solid #0049b0;
      svg{
        fill: #0049b0;
      }
    }
  }

  .slick-prev{
    left: -60px;
    position: absolute;
  }

  .slick-next{
    right: -60px;
    position: absolute;
  }
  
}

.footer{
  background-color: #f4f5f7;
  padding: 50px 0;
  
  &__inner{
    display: flex;
  }

  &__item{
    max-width: 174px;
  }

  &__shop{
    margin-right: 125px;
  }

  &__about {
    margin-right: 152px;
  }

  &__more{
    margin-right: 174px;
  }

  &__item-title{
    font-size: 16px;
    line-height: 16px;
    color: #0049b0;
    margin-bottom: 23px;
    @extend %roboto-700;
  }

  ul &__list-item {
    margin-bottom: 23px;
  }

  &__list-link{
    font-size: 16px;
    line-height: 16px;
    color: #202020;
    transition: all .5s;
    @extend %roboto-400;

    &:hover{
      text-shadow: 0 0 .65px #202020, 0 0 .65px #202020;
    }
  }
  &__social{
    max-width: 271px;
    .footer__list{
      display: flex;
    }
    
    .footer__list-link{
      width: 40px;
      height: 35px;
      background-color: #202020;
      border: 1px solid #404040;
      border-radius: 2px;
      display: flex;
      justify-content: center;
      align-items: center;

      &:hover{
        background-color: #0049b0;
      }
    }

    .footer__list-item + .footer__list-item{
      margin-left: 10px;
    }
  }
}


@import 'media';
